<div class="container min-vh-100 mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6" data-controller="service">
      <h2 class="text-center mb-3">Edit Clinical Notes</h2>
      <%= simple_form_for(@note) do |f| %>
        <%= f.input :note, label: false %>
        <%= f.submit "Update", class: "btn btn-primary w-100 mb-3" %>
      <% end %>
      <%= link_to "Cancel update", booking_path(@note.booking) %>
    </div>
  </div>
</div>
