// Define variables for your color scheme
$my-body-bg: rgba(#DDE4E5, .8);
$my-body-color: #3A66B2;
$my-primary: #3AB286;
$my-support-color: #3AA2B2;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
