<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="past-tab" data-toggle="tab" href="#past" role="tab" aria-controls="past" aria-selected="false">Past Bookings</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
      <% bookingsu.each do |booking| %>
        <% if booking.start_time > Time.now %>
          <%= link_to booking_path(booking), class: "list-group-item list-group-item-action p-2" do  %>
            <% if policy(Booking).index? %>
              <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
              Patient: #{booking.patient.name}" %>
            <% else %>
              <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
              Doctor: #{booking.doctor.name}" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%#= will_paginate bookingsu, param_name: :new_bookings %>
    </div>
    <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
      <% bookingsp.each do |booking| %>
        <% if booking.start_time < Time.now %>
          <%= link_to booking_path(booking), class: "list-group-item list-group-item-action p-2" do  %>
            <% if policy(Booking).index? %>
              <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
              Patient: #{booking.patient.name}" %>
            <% else %>
              <% "#{booking.start_time.strftime("%a, %e %b %Y")} -
              Doctor: #{booking.doctor.name}" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%#= will_paginate bookingsp, param_name: :old_bookings %>
    </div>
  </div>
</div>
