<div class="footer">
  <div class="footer-copyright">
    © Design Dental Clinic <%= Date.today.year %>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/leilaimenenebia/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div>
    <%= link_to "https://goo.gl/maps/EKCijwHzv9ecDHwq5", target:"_blank" do  %>
      122 Glenthorne Rd, London W6 0LP
    <% end %>
  </div>
</div>
