<div class="footer">
  <div class="footer-copyright">
    © Appoint. <%= Date.today.year %>
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div>
    <%= link_to "https://maps.google.com", target:"_blank" do  %>
      London, UK
    <% end %>
  </div>
</div>
