<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>
</div>
