<div class="home-banner">
  <div class="container">
    <h1 class="text-secondary">Dental done differently.</h1>
    <%= link_to "Request an Appointment", new_request_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 20 %>
    </div>
  </div>
</div>
