<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h2 class="text-center mb-3">Patient</h2>
      <p class="text-center mb-3"><%= @patient.name %></p>
      <p class="text-center mb-3"><%= @patient.user.email %></p>
      <p class="text-center mb-3"><%= @patient.user.mobile %></p>
      <p class="text-center mb-3"><%= @patient.dob %></p>
    </div>
  </div>
</div>
