.home-banner {
  background-image: url('https://images.pexels.com/photos/2736497/pexels-photo-2736497.jpeg');
  background-size: cover;
  height: 100vh;
  // color: #eee;
  // text-align: left;
  padding-top: 40vh;
}
