<p>Hi <%= @resource.first_name %></p>
<!-- <p>Hello <%= @resource.email %>!</p> -->

<p>Your Doctor or you have requested this link to update your login password to access your account. You can do this through the link below.</p>

<p><%= link_to 'Update password to login', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't be reset until you access the link above and create a new one.</p>

<p>Thanks</p>
<p>Design Dental Clinic</p>
<p>122 Glenthorne Rd, Hammersmith, London W6 0LP</p>
<p>Follow us on Instagram <%= link_to 'here', 'https://www.instagram.com/leilaimenenebia' %>.</p>
